### Convert new york subway station locations to longitude and latitude

In [1]:
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('NY_subway_station_loc_raw.csv')
df.columns

Index(['URL', 'OBJECTID', 'NAME', 'the_geom', 'LINE', 'NOTES'], dtype='object')

In [3]:
stations = df[['OBJECTID','NAME','the_geom']]
stations.rename(columns = {'OBJECTID':'object_id', 'NAME':'station_name'}, inplace = True)

In [4]:
stations['longitude'] = stations['the_geom'].str.extract('(-\d+.\d+)',expand=True)
stations['latitude'] = stations['the_geom'].str.extract('\s(\d+.\d+)',expand=True)

In [5]:
stations.drop(columns='the_geom', inplace=True)

In [6]:
stations.head()

   object_id      station_name           longitude           latitude
0          1          Astor Pl  -73.99106999861966  40.73005400028978
1          2          Canal St  -74.00019299927328  40.71880300107709
2          3           50th St  -73.98384899986625  40.76172799961419
3          4         Bergen St  -73.97499915116808  40.68086213682956
4          5  Pennsylvania Ave  -73.89488591154061  40.66471445143568

In [7]:
stations.to_csv('NY_subway_station_loc.csv',index = False, header = True)